html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    flex: 1 0 auto;
}

.content .navbar {
    background-color: #93c5fd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .navbar a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
}

.content .navbar a:hover {
    background-color: #3b82f6;
}

.sub-navbar {
    background-color: #93c5fd;
    display: flex;
    justify-content: space-between;
}

.sub-navbar a {
    padding: 15px;
    color: white;
    text-decoration: none;
}

.sub-navbar a:hover {
    background-color: #3b82f6;
}

.footer {
    flex-shrink: 0;
    background-color: darkgray;
    padding: 15px;
}

