html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    flex: 1 0 auto;
}

.table-custom {
    text-align: center;
}

.footer {
    flex-shrink: 0;
    background-color: darkgray;
    padding: 15px;
}

