{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Panel obsługi | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    Panel obsługi
{% endblock %}