{% extends 'administrator/base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app_website_home') }}">Organizations</a></li>
        <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
        <li class="active">Organizacje</li>
    </ol>
    <div class="jumbotron" style="text-align: center;">
        <p>Liczba organizacji zarejestrowanych w systemie:</p>
        <p>{{ count }}</p>
        <p>
            <a href="{{ path('app_administrator_organization_show-all') }}">
                <button class="btn btn-primary">Pokaż wszystkie</button>
            </a>
        </p>
    </div>
{% endblock %}