html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    flex: 1 0 auto;
}

.content .navbar {
    background-color: #93c5fd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .navbar a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
}

.content .navbar a:hover {
    background-color: #3b82f6;
}

.footer {
    flex-shrink: 0;
}

.footer .footer-up {
    background-color: #676767;
    color: white;
    display: flex;
    justify-content: space-around;
}

.footer .footer-up a {
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

.footer .footer-up a:hover {
    background-color: #555555;
}

.footer .footer-up .info {
    padding: 15px;
}

.footer .footer-down {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

.footer .footer-down a {
    text-decoration: none;
    color: inherit;
}

.footer .footer-down .author {
    color: yellowgreen;
}

