{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        FAQ | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li class="active">FAQ</li>
        </ol>
        {% if faqs %}
            <ol>
                {% for faq in faqs %}
                    <li>
                        <span style="font-weight: bold;">{{ faq.question }}</span><br/>
                        {{ faq.answer }}
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>Brak danych do wyświetlenia.</p>
        {% endif %}
    </div>
{% endblock %}