{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Katalog: Oddziały | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    Oddziały
{% endblock %}