{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Katalog: Flota | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li class="active">Pojazdy</li>
        </ol>

        {% if cars %}
            <div class="row">
                {% for car in cars %}
                    <div class="col-xs-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{ car.brand }} {{ car.model }}</h3>
                                <p>
{#                                    <a href="{{#}
{#                                    path('app_website_organization_branch', {organizationSlug: branch.organization.slug, branchSlug: branch.slug})#}
{#                                    }}" class="btn btn-primary" role="button">#}
{#                                        Pokaż szczegóły#}
{#                                    </a>#}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">Brak danych</div>
        {% endif %}
    </div>
{% endblock %}