{% extends 'administrator/base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app_website_home') }}">Organizations</a></li>
        <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
        <li class="active">FAQ</li>
    </ol>
    <div class="jumbotron" style="text-align: center;">
        <p>Liczba pozycji FAQ zarejestrowyanych w systemie:</p>
        <p>{{ counter }}</p>
        <p>
            <a href="{{ path('app_administrator_faq_show-all') }}"><button class="btn btn-primary">Pokaż wszystkie</button></a>
        </p>
    </div>
{% endblock %}