{% extends 'administrator/base.html.twig' %}

{% block body %}
    <div class="sub-navbar">
        <a href="{{ path('app_administrator_faq_home') }}">FAQ</a>
        <a href="{{ path('app_administrator_faq_show-all') }}">Pokaż wszystkie</a>
        <a href="{{ path('app_administrator_faq_create-new') }}">Dodaj nowy wpis</a>
    </div>
    {% block content %}{% endblock %}
{% endblock %}