{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Rezerwacja | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        Rezerwacja
    </div>
{% endblock %}