{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Kontakt | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div style="padding: 15px;">
        Kontakt<hr/>
        <div style="text-align: center; margin: 25px 0;">
            CarFLOw.Site<br/>
            ul. Wymyślona 41<br/>
            49-539 Nibylandia<br/>
            Polska
        </div>
        <div style="text-align: center; margin: 25px 0;">
            Tel.: <a href="tel:+48658965334">+48 658-965-334</a><br/>
            E-mail: <a href="mailto:kontakt@carflow.site">kontakt@carflow.site</a>
        </div>
    </div>
{% endblock %}