{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Nazwa Organizacji | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ organization }}
    </div>
{% endblock %}