{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        RODO | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        RODO
    </div>
{% endblock %}