{% extends 'administrator/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
            <li class="active">Oddziały</li>
        </ol>
        <div class="jumbotron" style="text-align: center;">
            <p>Liczba oddziałów zarejestrowyanych w systemie:</p>
            <p>{{ count }}</p>
            <p>
                <a href="{{ path('app_administrator_branch_show-all') }}"><button class="btn btn-primary">Pokaż wszystkie</button></a>
            </p>
        </div>
    </div>
{% endblock %}