{% extends 'administrator/base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app_website_home') }}">Organizations</a></li>
        <li class="active">Panel administratora</li>
    </ol>
{% endblock %}