{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Funkcjonalności: Dla wypożyczalni CarFLOw.Site | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_website_functionalities') }}">Funkcjonalności</a></li>
            <li class="active">Dla wypożyczalni CarFLOw.Site</li>
        </ol>
    </div>
{% endblock %}